<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add book</title>
    <!-- tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <form action="/add" method="post">
        <input type="text" name="img" placeholder="Image">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="author" placeholder="Author">
        <input type="text" name="price" placeholder="Price">
        <button type="submit">Add Book</button>
    </form>
</body>
</html>