<footer class="w-full bg-white border-t border-gray-100 py-6 mt-auto">
    <div class="max-w-7xl mx-auto px-6 lg:px-12 flex justify-center items-center">
        <p class="text-sm font-medium text-gray-400">&copy; <%= new Date().getFullYear() %> Scatch. All rights reserved.
        </p>
    </div>
</footer>