<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>ho gaya bhai</h1>
    <p>ye dekh <br> <%= 2+2%> tere </p>
    <p>or <%= 8-2%> mere </p>

    <script src="/JavaScript/script.js"></script>
</body>
</html>