<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
</head>

<body>
    <div class="w-full h-screen bg-zinc-900 text-white flex items-center justify-center flex-col">
        <h1>create user</h1>
        <form action="/create" method="post" class="flex flex-col items-center justify-center">
            <input type="text" name="username" placeholder="Username" class="bg-zinc-800 text-white p-2 rounded-md m-2">
            <input type="email" name="email" placeholder="Email" class="bg-zinc-800 text-white p-2 rounded-md m-2">
            <input type="password" name="password" placeholder="Password" class="bg-zinc-800 text-white p-2 rounded-md m-2">
            <input type="number" name="age" placeholder="Age" class="bg-zinc-800 text-white p-2 rounded-md m-2">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">create user</button>
        </form>
        <a href="/login" class="mt-4 text-blue-400 hover:text-blue-300">Login to your account</a>
    </div>
</body>

</html>